* {border: solid red 1px

}

.header {
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 10px 80px;
    
}

.header > div {
    font-size: 20px;
}

.left {
    display: flex;
    margin-right: auto;
    color: #f9faf8;
    font-size: 24px;

}

.right {
    display: flex;
    gap: 16px;
    color:#E5E7EB
    
}

.intro {
    display: flex;
    justify-content: center;
    padding: 40px
}

.text {
    width: 300px
}

.grabber {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.addi {
    font-size: 18px;
    color: #E5E7EB;


}

button {
    padding: 5px 20px;
    background-color: #3882f6;
    color: white;
    font-weight: 700;
    border-radius: 7px;

}

.image {
    margin-left: 15px;
}

.moreinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attn p {
    font-size: 36px;
    font-weight: 600;
}

.fourbox {
    display: flex;
    gap: 16px;
}

.fourbox p {
    width: 150px;
    text-align: center;
}

.thirdbody {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: #E5E7EB;
    
}

.quote {
    width: 680px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.name {
    margin-right: 550px;
    align-self: flex-end;
    font-size: 26px;
    font-weight: 800;
}

.header,
.intro,
.footer {
    background-color: #1f2937;
}

.final {
    padding: 40px;
    display: flex;
    justify-content: center;
}

.call {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 1000px;
    gap: 40px;   
    background-color: #3882f6;
}

.first {
   color: white;
   font-weight: 500; 
   font-size: 18px;
   margin-bottom: 10px;
}

.second {
    color: white;
    font-size: 16px;
}

.call button {
    border-radius: 15px;
    border-color: white;
}

.footer {
    display: flex;
    justify-content: center;
    color: #E5E7EB;
}

.card img {
    border-radius: 10px
}






