* {border: solid red 1px

}

.header {
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 10px 80px;
    
}

.header > div {
    font-size: 20px;
}

.left {
    display: flex;
    margin-right: auto;

}

.right {
    display: flex;
    gap: 16px;
    
}

.intro {
    display: flex;
    justify-content: center;
    padding: 40px
}

.text {
    width: 300px
}

.grabber {
    font-size: 45px;
    font-weight: 800;
}

.addi {
    font-size: 20px;

}

button {
    padding: 10px;

}

.image {
    margin-left: 15px;
}




